{% extends 'layout.html' %}

{% block title %}Prayer Times{% endblock %}

{% block content %}


<!-- Islamiskaforbundet.se -->

<div class="custom_prayertime">

    
    <div class="custom_prayertime_options">
       <h3>Islamiska Förbundet</h3>
        
        {% if options['islamiska-forbundet'] %}

            <form>
                <input type="hidden" name="source" value="islamiska-forbundet" />
                <label for="city">Select a City:</label>
                <select name="city">
                    {% for city in options['islamiska-forbundet'] %}
                        <option value="{{ city }}">{{ city }}</option>
                    {% endfor %}
                </select>
                <button class="submit button" type="submit">
                    <img
                            src="{{ url_for('static', filename='images/SVG/save.svg') }}"
                            alt="Save ICON"
                            width="20"
                            height="20"
                        />
                    <span>Save</span>
                </button>
            </form>

        {% else %}
            <p>Error getting prayertimes from Islamiska Förbundet</p>
        {% endif %}
    </div>


    <div class="custom_prayertime_options">
        <h3>Vaktija.ba (BA)</h3>
        {% if options['vaktijaba'] %}
            <form>
                <input type="hidden" name="source" value="vaktijaba" />
                <label for="location_id">Select a City:</label>
                <select name="location_id">
                        {% for city in options['vaktijaba'] %}
                            <option value="{{ options['vaktijaba'].index(city) }}">{{ city }}</option>
                        {% endfor %}
                </select>
                <button class="submit button" type="submit">
                    <img
                            src="{{ url_for('static', filename='images/SVG/save.svg') }}"
                            alt="Save ICON"
                            width="20"
                            height="20"
                        />
                    <span>Save</span>
                </button>
            </form>
        {% else %}
            <p>Error getting prayertimes from Vaktija.ba</p>
        {% endif %}
    </div>

    <div class="custom_prayertime_options">
        <h3>Vaktija.eu (EU)</h3>
        {% if options['vaktijaeu'] %}
            <form>
                <input type="hidden" name="source" value="vaktijaeu" />

                <label>Select a Country:</label>
                <select readonly class="select" id="vaktija_eu_country">
                    <option value="" disabled selected="selected">Select a country</option>
                </select>

                <label id="vaktija_eu_name" style="display: none;" for="location_slug">Select a City:</label>
                <select id="vaktija_eu_city" style="display: none;" name="location_slug"></select>

                <button style="display: none;" class="submit button" type="submit" id="vaktija_eu_button">
                    <img
                            src="{{ url_for('static', filename='images/SVG/save.svg') }}"
                            alt="Save ICON"
                            width="20"
                            height="20"
                        />
                    <span>Save</span>
                </button>

        {% else %}
            <p>Error getting prayertimes from Vakitja.eu</p>
        {% endif %}
    </div>

</div>
<script data-vaktijaeu="{{ options['vaktijaeu'] }}" src="{{ url_for('static', filename='scripts/prayertimes/vaktijaeu.js') }}"></script>

<!-- 
<div class="prayertimes">
 
    <h3>Get prayertimes automaticly</h3>
    <div class="prayertimes_input">
        <img src="{{ url_for('static', filename='images/ICONS/map-marker.png') }}" alt="prayertimes"  width="48" height="48" >
        <input type="text" id="location" placeholder="Type your location..."/>
    </div>

    <a href="/prayertimes/custom">Get custom prayertimes</a>

</div> -->
<script src="{{ url_for('static', filename='scripts/prayertimes/main.js') }}" type="text/javascript"></script>

{% endblock %}