{% extends 'layout.html' %}


{% block title %}Home{% endblock %}


{% block content %}

<div class="buttons">
    <a href="/prayertimes">
        <img src="{{url_for('static', filename='images/svgs/clock.svg')}}" alt="Clock icon" width="50" height="50">
        Prayertimes
    </a>
    <a href="/language">
        <img src="{{url_for('static', filename='images/svgs/language.svg')}}" alt="Language icon" width="50" height="50">
        Language
    </a>
    <a href="/settings">
        <img src="{{url_for('static', filename='images/svgs/settings.svg')}}" alt="Settings icon" width="50" height="50">
        Settings
    </a>
    <a href="/theme">
        <img src="{{url_for('static', filename='images/svgs/theme.svg')}}" alt="Theme icon" width="50" height="50">
        Theme Editor
    </a>
    <a href="/advanced" >
        <img src="{{url_for('static', filename='images/svgs/eclipse.svg')}}" alt="Eclipse dots icon" width="50" height="50">
        Advanced
    </a>
</div>


{% endblock %}
