{% extends 'layout.html' %}


{% block title %}Home{% endblock %}


{% block content %}

<div class="buttons">
    <a href="/prayertimes">
        <img src="{{url_for('static', filename='images/SVG/clock.svg')}}" alt="Clock icon" width="50" height="50">
        Prayertimes
    </a>
    <a href="/language">
        <img src="{{url_for('static', filename='images/SVG/language.svg')}}" alt="Settings icon" width="50" height="50">
        Language
    </a>
    <a href="/media">
        <img src="{{url_for('static', filename='images/SVG/media.svg')}}" alt="Settings icon" width="50" height="50">
        Media
    </a>
    <a href="/advanced">
        <img src="{{url_for('static', filename='images/SVG/eclipse.svg')}}" alt="Settings icon" width="50" height="50">
        Advanced
    </a>
</div>
<iframe src="/screen" class="preview" width="100%" height="100%" scrolling="no" frameborder="0" allowtransparency="true" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"></iframe>
{% endblock %}
