{% extends 'layout.html' %} {% block title %}Settings{% endblock %} {% block
content %}

<h1>Settings</h1>
<br />
<form action="/settings/edit" id="settings-form" method="POST">
  <div class="form-group">
    <label for="time_format">Time Format</label>
    <input type="text" name="time_format" value="{{ settings.time_format }}" />
  </div>
  <div class="form-group">
    <label for="timezone">Timezone</label>
    <input
      type="number"
      step="0.1"
      min="-20"
      max="20"
      name="timezone"
      value="{{ settings.timezone }}"
    />
  </div>
  <div class="form-group">
    <label for="timezone">Date Format</label>
    <input type="text" name="date_format" value="{{ settings.date_format }}" />
  </div>
  <div class="form-group">
    <label for="latitude">Latitude</label>
    <input type="text" name="latitude" value="{{ settings.latitude }}" />
  </div>
  <div class="form-group">
    <label for="longitude">Longitude</label>
    <input type="text" name="longitude" value="{{ settings.longitude }}" />
  </div>
  <div class="form-group">
    <label for="iqamah_bool">Should Iqamah be displayed?</label>
    <input type="checkbox" name="iqamah_bool" {% if settings.iqamah_bool ==
    'false' %}checked{% endif%} >
  </div>
  <div class="form-group">
    <label for="qr_code_bool">QR Code</label>
    <input type="checkbox" name="qr_code_bool" {% if settings.qr_code_bool ==
    'false' %}checked{% endif%} >
  </div>
</form>
{% endblock %} 

{%block save_button%}
    <button
      onclick="document.querySelector('#settings-form').submit()"
      type="submit"
      class="submit button"
      >
        <img
            src="{{ url_for('static', filename='images/SVG/save.svg') }}"
            alt="Save ICON"
            width="25"
            height="25"
        />
      <span>Save</span>
      
    </button>
{% endblock %}
